**/.idea
code/GUI/black.png
code/GUI/blackking.png
code/GUI/GoldFrameTransparent.png
code/GUI/greenfelt.jpg
code/GUI/home.png
code/GUI/open.png
code/GUI/personicon.png
code/GUI/personiconred.png
code/GUI/play.png
code/GUI/playpress.png
code/GUI/red.png
code/GUI/redking.png
code/GUI/redo.jpg
code/GUI/redoblue.png
code/GUI/robot.jpg
code/GUI/robot.png
code/GUI/rules.png
code/GUI/rulespress.png
code/GUI/save.png
code/GUI/settings.png
code/GUI/settingsblue.png
code/GUI/undo.jpg
code/GUI/undoblue.png
code/CLI/venv/*
code/CLI/build/*
code/CLI/dist/*
code/CLI/checkers.spec